-var page = {link1:'add pen' , link2: 'add book'}
doctype html
html(dir="ltr")

	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article
			.top.clearfix
				.panel-header
					h2 add pen
				.panel-body
					.clearfix
						.home
							.article-add
								.form-horizontal.flat
									.form-group
										label pen's name
										.control: input.form-control(type="text")
									.form-group
										label category
										.control
											select.select
												option option 
												option option 
									.form-group
										label pen's body
										.control: textarea.form-control(placeholder="pen's body")
									
									.form-control
										.button-group
											button(type="button").btn.btn-default publish
											button(type="button").btn.btn-danger cancel
						
						.cover#croppic.article-cover
		include assets/jade/footer
				
