-var page = {link1:'new message' , link2: 'messages'}
doctype html
html(dir="ltr")

	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article.center-article
			.top.clearfix
				.panel-page.contact-us
					.panel-header: h2 contact us
					.panel-body
						.form-horizontal.flat
							.form-group
								label name
								.control: input.form-control(type="text")
							.form-group
								label e-mail
								.control: input.form-control(type="text")
							.form-group
								label lorem
								span.radio
									input(type="radio", name="unkown", id="yes")
									label(for="yes") yes
								span.radio
									input(type="radio", name="unkown", id="no")
									label(for="no") no
							.form-group
								label lorem
								.control: textarea.form-control(placeholder="message body")
							.form-control
								.button-group
									button(type="button").btn.btn-default send
									button(type="button").btn.btn-danger cancel
		include assets/jade/links-side-bar
		include assets/jade/footer
