doctype html
html(dir="ltr")

	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/side-bar
		article.store
			.filter
				ul.clearfix
					li.selected: a(href="#") following
					li: a(href="#") followers
			.followers
				- for(i=0;i<30;i++)
					.follower
						img.follower-thumb(src="img/follower.jpg")
						h4.user-name: a(href="book-view.html") ‎Tarek Hamdoun ‎
						a(href="#").follow-me
							i.fa.fa-rss
							|  follow
				.pagination
					button(type="button").btn: i.fa.fa-angle-down
		include assets/jade/footer