doctype html
html(dir="ltr")

	include assets/jade/head
	body
		include assets/jade/top-nav
		include assets/jade/store-side-bar
		article.store
			.filter
				ul.clearfix
					li.selected: a(href="#") Arabic
					li: a(href="#") English
			.books
				- for(i=0;i<10;i++)
					div
						img.book-thumb(src="img/book.jpg")
						h3.title: a(href="book-view.html") Al-Farid
						.writer-details
							.user-pic: img(src="img/commenter.jpg")
							.user-name Karim Farid
							ul.clearfix.info
								li.views-count 480
			.pagination
				button(type="button").btn: i.fa.fa-angle-down
		include assets/jade/footer