script(src="js/jquery.js")
script(src="js/jquery-ui.min.js")
script(src="js/jquery.nicescroll.js")
script(src="js/jquery-scrolltofixed.js")
script(src="js/jquery.autosize.min.js")
script(src="js/jquery.dropdown.min.js")
script(src="js/main.js")