head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	script(src="js/modernizr.custom.93303.js")
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	title Pens and books
	link(rel='stylesheet', href='css/jquery-ui.css')
	link(rel='stylesheet', href='css/style.css')
	link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
	

