.left-side-bar 
	.follow-others
		a.title(href="followers.html") you can follow others
		.follow-user
			.user-pic: img(src="img/commenter.jpg")
			a.user-url(href="profile.html") ahmed magdy
			ul.clearfix.info
				li.followrs-count: .count 20
				li.pins-count: .count 20
				li.books-count: .count 20
			a.follow(href="#") follow 
		.follow-user
			.user-pic: img(src="img/commenter.jpg")
			a.user-url(href="profile.html") ahmed magdy
			ul.clearfix.info
				li.followrs-count: .count 20
				li.pins-count: .count 20
				li.books-count: .count 20
			a.follow(href="#") follow 
		.follow-user
			.user-pic: img(src="img/commenter.jpg")
			a.user-url(href="profile.html") ahmed magdy
			ul.clearfix.info
				li.followrs-count: .count 20
				li.pins-count: .count 20
				li.books-count: .count 20
			a.follow(href="#") follow 
	.choosen-pens
		a.title(href="#") chosen pens
		.pen
			img(src="img/pen.jpg")
			a.pen-title(href="#") lorem
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480
		.pen
			img(src="img/pen.jpg")
			a.pen-title(href="#") lorem
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480
	.choosen-books
		a.title(href="#") chosen books
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") lorem
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") lorem
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480	
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") lorem
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480	
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") lorem
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480		
		.book
			img(src="img/book-thumb.jpg")
			a.book-title(href="#") lorem
			ul.clearfix.info
				li.views-count 480
				li.retweets-count  480	
	.footer
		ul
			li: a(href="about-us.html") about us
			li: a(href="#") privacy
			li: a(href="#") terms & conditions
			li: a(href="contact-us.html") contact us
	p.copyrights pens and books © 2014
