.blackbar
	.top-nav.clearfix
		.top-left-nav
			h1.pageLogo.hide-text.pull-left: a(href="http://www.pensandbooks.com")
				i.imgLogo Pens and Books 
			ul.pull-left.main-nav
				li.main-home
					a(href="index.html"): i.fa.fa-home
						
				li.archive
					a(href="store.html"): i.icon-drawer
						
				li.profile
					a(href="profile.html"): i.icon-profile
			.main-search.pull-left
				form
					input(type="search" , placeholder="search ...")
					button(type="submit")
		#headNav.pull-left
			ul.pageNav
				
				li.flag
					a.hide-text(href="#")
						u flag
					span.alert.active 5
					ul.notifications
						li.notification.comment
							.writer-info
								.user-pic: img(src="img/profile-pic.jpg")
								a.user-url(href="notifications.html") Karim Farid
								div
									span.date 13-4-2014
									span.time 12:22PM
							p 
								i.fa.fa-comment
								|  wrote comment for you
						li.notification.retweet
							.writer-info
								.user-pic: img(src="img/profile-pic.jpg")
								a.user-url(href="notifications.html") Karim Farid
								div
									span.date 13-4-2014
									span.time 12:22PM
								p 
									i.fa.fa-retweet
									|  shared your post
						li.notification.like
							.writer-info
								.user-pic: img(src="img/profile-pic.jpg")
								a.user-url(href="notifications.html") Karim Farid
								div
									span.date 13-4-2014
									span.time 12:22PM
							p 
								i.fa.fa-arrow-up
								|  liked your post
						li.notification.dislike
							.writer-info
								.user-pic: img(src="img/profile-pic.jpg")
								a.user-url(href="notifications.html") Karim Farid
								div
									span.date 13-4-2014
									span.time 12:22PM
								p 
									i.fa.fa-arrow-down
									|  disliked your post
						li.seeAll: a(href="notifications.html") see all...
				li.messages
					a.hide-text(href="messages.html")
						u messages
					span.alert 5
				
		
	
		
		